<section id="about" class="mt-5 py-5">
  <div class="container py-5 mb-5">
    <h2 class="text-uppercase pt-5 mt-5 fs-1">about component</h2>
    <div class="welcomeMess mb-3 position-relative">
      <i class="fa fa-star"></i>
    </div>
    <div class="row pb-5 mb-5">
      <div class="col-md-6">
        <p class="text-start ps-5">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-start pe-5">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
