.layer{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 188, 156, .9) ;
  transition: ease-in-out .5s opacity;
  opacity: 0;
}
figure{
  cursor: pointer;
}
figure:hover > .layer{
  opacity: 1;
}
.gallery{
  z-index: 1031;
}
.gallery img {

  width: 70% ;

}

@media screen and (max-width: 991px) {
  .gallery img {
    width: 85% ;
  }
}

